<h1 class="title"><%= gettext "New Post" %></h1>

<%= render "form.html",
    assigns
    |> Map.put(:action, post_path(@conn, :create))
    |> Map.put(:changeset, @changeset) %>

<span><%= link gettext("Back"), to: post_path(@conn, :index), class: "button" %></span>
